# Logs
tmp_api_server.log
*.log

# Node modules
node_modules/

# Build outputs
dist/
coverage/

# Env files
.env
.env.local

# Misc
.DS_Store
*.sqlite
/.turbo/
backups/

# SSL
gh_actions
gh_actions.pub
gha_deploy_key
gha_deploy_key.pub

# SSH keys and authorized key bundles
~deploy/
**/.ssh/
*.pem
*.key
*.pub
authorized_keys
